{% extends 'clientdash/index.html.twig' %}

{% block body %}

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>portfolio</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('client_app') }}">Home</a></li>

                    <li class="breadcrumb-item active">portfolio</li>
                </ol>
            </nav>
        </div>

        <section class="section">

        </section>

    </main>
{% endblock %}