{% extends 'staffdash/index.html.twig' %}

{% block body %}
    <main id="main" class="main">

    <div class="pagetitle">
        <h1>investment delete </h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('staffmaninv_app') }}">ivestList</a></li>

                <li class="breadcrumb-item active">investment delete</li>
            </ol>
        </nav>
    </div>

        <section class="section">

            <a href="{{ path('staffmaninv_app') }}" class="btn btn-primary mb-3">back to services</a>
        </section>

    </main>
{% endblock %}